{% include base_path.html %}

{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h2 id="schedule">Schedule</h2>

  {% assign lesson_number = 0 %}
  {% assign day = 0 %}
  {% assign multiday = false %}
  

  <table class="table table-striped">
 {% for episode in site.episodes %}
      <td class="col-md-3">
        {% assign lesson_number = lesson_number | plus: 1 %}
	{{ lesson_number }}. <a href="{{ relative_root_path }}{{ episode.url }}">{{ episode.title }}</a>
      </td>
      <td class="col-md-7">
        {% else %}
          {% if episode.questions %}
            {% for question in episode.questions %}
              {{question|markdownify|strip_html}}
              {% unless forloop.last %}
              <br/>
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>


</div>
