<p>
  The <a href="{{site.sih_site}}">Sydney Informatics Hub</a>
  is a Core Research Facility of the University of Sydney. SIH provides support, training, and expertise on research data, analyses
  and computing for research staff, students and affiliates of the University. We deliver policies, systems, advice, engineering and
  training to research staff, students and affiliates of the University.

  If you'd like to work with us on a project, get support with your own work or otherwise engage with our services, please fill out our help form <a href="{{site.sih_site}}"/help">here</a>

</p>
